.idea/
.vscode/
atlassian/__pycache__/
build/
dist/
logs/
venv/
atlassian_api_py.egg-info/
/atlassian/logs/atlassian-api.log
/tests/logs/atlassian-api.log
atlassian-api-py-release.log

/tests/.coverage
tests/__pycache__
/tests/htmlcov
tests/config.ini
.coverage*
coverage.xml
.nox
.tox

__pycache__
.DS_Store