# https://pre-commit.ci/
ci:
    autofix_commit_msg: 'chore: auto fixes from pre-commit.com hooks'
    autoupdate_commit_msg: 'chore: pre-commit autoupdate'
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: '25.9.0'
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
